* {
    margin: 0;
    padding: 0;
}

.darkmode {
    color: white;
    background-color: black;
}
.dark-text { 
    color: white;
}

body {
    height: 100vh;
    overflow: hidden;
    transition: background-color 1s linear;
}

#main {
    margin-left: 15vw;
    margin-right: 15vw;
}

.title-fill-screen {
    height: 0 !important;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.5em;
    transition: height .1s linear;
}
#title span {
    display: inline;
    font-family: sans-serif;
    font-size: 2em;
    color: black;
    user-select: none;
}
#menu-btn {
    z-index: 5;
    width: 100%;
    position: absolute;
    height: 3.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0%;
}

.img-fill-screen {
    height: 100vh !important;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 5em); /* add fake-margin too */
    transition: height .1s linear;
}

#image {
    height: 100%;
    max-width: 100%;
    aspect-ratio: auto;
    border-radius: 16px;
    user-select: none;
}
.resize-anim {
    transition: all ease-in-out .2s;
}

@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');
.boop {
    z-index: 7;
    user-select: none;
    pointer-events: none;
    color: white;
    text-shadow: 1px 1px 0 black,
                 -1px -1px 0 black;
    position: absolute;
    font-size: 1em;
    font-family: "Marhey", "Comic Sans MS", sans-serif;
}

#close-menu-btn {
    float: right;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    background: none;
    border: none;
    color: red;
}

dialog {
    /* flex-direction: column; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    padding-top: 1em;
    font-family: sans-serif;
    border-radius: 16px;
    transition: background-color 1s linear;
    user-select: none;
    max-width: 100%;
    width: fit-content;
}
dialog > main {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
dialog > main div {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
dialog div.urls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
dialog > main button {
    padding-top: 5px;
    padding-bottom: 5px;
    /* im way too lazy to make those pretty */
}
a.dark-text, a.dark-text:hover, a.dark-text:active, a.dark-text::selection {
    color: white;
}
a, a:hover, a:active, a::selection {
    color: black;
}

@media (max-aspect-ratio: 1/1) {
    #main {
        margin: 0 !important;
    }
    #image-container {
        height: calc(100vh - 3.5em) /* no fake-margin for portrait */
    }
}